@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --primary-color: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray-blue: hsl(208, 11%, 55%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

p {
  opacity: 0.7;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

header {
  background-image: url("images/bg-hero-desktop.svg");
  background-color: var(--pale-cyan);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}

.menu {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 1rem;
}

.logo {
  width: 15%;
  height: 30%;
}

.menu-btn {
  width: 16%;
  padding: 1rem 0;
  background-color: white;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.menu-btn:hover {
  opacity: 0.6;
}

.showcase {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: 4fr 5fr;
  grid-column-gap: 5rem;
}

.showcase-text {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
  animation: slideInFromLeft 1s ease-in;
}

.showcase-text h1 {
  font-size: 3rem;
  text-align: left;
}

.showcase-btn {
  width: 60%;
  background-color: var(--primary-color);
  color: var(--pale-cyan);
  border: none;
  padding: 1.5rem 0;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 700;
}

.showcase-btn:hover {
  opacity: 0.6;
}

.showcase-image {
  height: 100%;
  animation: slideInFromRight 1s ease-out;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;
  margin-bottom: 18rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 3rem 3rem 3rem 8rem;
  margin: 10px;
  justify-content: flex-end;
  display: flex;
  animation: slideInFromBottom 1s ease-in;
}

.card-text {
  flex: 50%;
}

.card-image {
  flex: 40%;
}

.grow-together,
.your-users,
.flowing-conversation {
  display: flex;
  align-items: center;
  justify-items: space-between;
  grid-column-gap: 20rem;
  flex-direction: row;
}

.flowing-conversation {
  flex-direction: row-reverse;
}

footer {
  background-color: var(--dark-cyan);
  height: auto;
  width: 100%;
  padding: 3rem 0;
}

.footer {
  display: grid;
  align-items: flex-start;
  justify-content: stretch;
  grid-template-columns: 2fr 2fr 1fr;
  padding: 0;
  color: #fff;
  gap: 2rem;
}

.build-community {
  width: 100%;
  position: relative;
  bottom: 13rem;
  margin-bottom: -7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.build-community .card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 45%;
}

.build-community .card h1 {
  font-size: 2rem;
  text-align: center;
}

.build-community .card button {
  width: 60%;
  background-color: var(--primary-color);
  color: var(--pale-cyan);
  border: none;
  padding: 1.7rem 0;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

.build-community .card button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact .logo {
  filter: invert(100%) saturate(0%) brightness(200%);
  width: 50%;
  height: 50%;
}

i {
  margin-top: 5px;
}

.location,
.phone,
.email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column-gap: 2rem;
  padding: 0.4rem 0;
}

.location p,
.phone p,
.email p {
  color: var(--pale-cyan) !important;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.links {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 8rem;
  grid-row-gap: 1rem;
}

.links a {
  color: var(--pale-cyan);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.socials i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--pale-cyan);
  font-size: 0.85rem;
  margin-top: 2rem;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tables and Under */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  header {
    background-image: url("images/bg-hero-mobile.svg");
    gap: 1rem;
    padding-bottom: 1.5rem;
    overflow-x: hidden;
  }

  .menu {
    align-items: center;
    padding: 2rem;
  }

  .logo {
    width: 38%;
    height: 100%;
  }

  .menu-btn {
    padding: 0.8rem 0;
    width: 25%;
  }

  .showcase {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .showcase-text {
    justify-content: center;
    align-items: center;
  }

  .showcase-text h1 {
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
  }

  .showcase-text p {
    font-size: 1.2rem;
    text-align: center;
  }

  main {
    margin-bottom: 12rem;
  }

  .card {
    padding: 2rem 4rem;
    margin: 2rem 4rem;
    justify-content: center;
    flex-direction: column;
  }

  .card-text {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }

  .card-image {
    flex: 100%;
  }

  .grow-together,
  .flowing-conversation,
  .your-users {
    justify-content: center;
    flex-direction: column;
    grid-row-gap: 3rem;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .build-community .card {
    width: 90%;
    margin: 2rem auto auto auto;
  }

  .build-community .card h1 {
    font-size: 1.7rem;
  }

  .build-community .card button {
    padding: 1.5rem 0;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .contact .logo {
    width: 35%;
    height: 35%;
  }

  .links {
    grid-template-columns: auto;
    justify-content: flex-start;
  }

  .links a {
    font-size: 1.4rem;
  }

  .socials {
    gap: 1.5rem;
    justify-content: center;
  }

  .copyright {
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  header {
    background-image: url("images/bg-hero-mobile.svg");
    gap: 1rem;
    padding-bottom: 1.5rem;
    overflow-x: hidden;
  }

  .menu {
    align-items: center;
    padding: 2rem;
  }

  .logo {
    width: 35%;
    height: 100%;
  }

  .menu-btn {
    padding: 0.8rem 0;
    width: 38%;
  }

  .showcase {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .showcase-text {
    justify-content: center;
    align-items: center;
  }

  .showcase-text h1 {
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
  }

  .showcase-text p {
    font-size: 1.2rem;
    text-align: center;
  }

  main {
    margin-bottom: 12rem;
  }

  .card {
    padding: 2rem 2rem;
    margin: 1rem 2rem;
    justify-content: center;
    flex-direction: column;
  }

  .card-text {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }

  .card-image {
    flex: 100%;
  }

  .grow-together,
  .flowing-conversation,
  .your-users {
    justify-content: center;
    flex-direction: column;
    grid-row-gap: 2rem;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .build-community .card {
    width: 95%;
    margin: 2rem auto auto auto;
    padding: 2rem;
  }

  .build-community .card h1 {
    font-size: 1.7rem;
  }

  .build-community .card button {
    padding: 1.5rem 0;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .contact .logo {
    width: 35%;
    height: 35%;
  }

  .links {
    grid-template-columns: auto;
    justify-content: flex-start;
  }

  .links a {
    font-size: 1.4rem;
  }

  .socials {
    gap: 1.5rem;
    justify-content: center;
  }

  .copyright {
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }

  header {
    background-image: url("images/bg-hero-mobile.svg");
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
  }

  .menu {
    align-items: center;
    padding: 1rem;
  }

  .logo {
    width: 35%;
    height: 100%;
  }

  .menu-btn {
    padding: 0.8rem 0;
    width: 40%;
  }

  .showcase {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .showcase-text {
    justify-content: center;
    align-items: center;
  }

  .showcase-text h1 {
    font-size: 1.7rem;
    text-align: center;
    overflow: hidden;
  }

  .showcase-text p {
    font-size: 1.1rem;
    text-align: center;
  }

  .showcase-btn {
    width: 80%;
  }

  main {
    margin-bottom: 12rem;
  }

  .card {
    padding: 2rem 1rem;
    margin: 1rem;
    justify-content: center;
    flex-direction: column;
  }

  .card-text {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }

  .card-image {
    flex: 100%;
  }

  .grow-together,
  .flowing-conversation,
  .your-users {
    justify-content: center;
    flex-direction: column;
    grid-row-gap: 2rem;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .build-community .card {
    width: 95%;
    margin: 2rem auto auto auto;
    padding: 2rem 0;
  }

  .build-community .card h1 {
    font-size: 1.3rem;
  }

  .build-community .card button {
    padding: 1.5rem 0;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    width: 80%;
  }

  .contact .logo {
    width: 35%;
    height: 35%;
  }

  .links {
    grid-template-columns: auto;
    justify-content: flex-start;
  }

  .links a {
    font-size: 1.4rem;
  }

  .socials {
    gap: 1.5rem;
    justify-content: center;
  }

  .copyright {
    align-items: center;
    justify-content: center;
  }
}
